html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background: #3f5efb;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: rgb(243, 243, 243);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

/* ! styles */

/* !NAVIGATION STYLES */

.nav-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.nav-item {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(63, 94, 251, 0.2);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 13px;
  font-weight: 300;
  color: rgb(243, 243, 243);
}

/* ! */

.body {
  position: relative;
}

.body-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 20px 0;
  border-radius: 30px;
  background-color: rgba(63, 94, 251, 0.2);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(111, 132, 236, 0.2);
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.stopwatch {
  font-size: 48px;
  font-weight: 300;
}

.button-list {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  /* !NAVIGATION ITEM STYLES */
  .nav-item {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgba(63, 94, 251, 0.2);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .nav-link {
    font-size: 15px;
    font-weight: 300;
    color: rgb(243, 243, 243);
  }

  .body-container {
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-item {
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.1);
      background-color: rgba(252, 70, 107, 0.3);
    }
  }

  .body-container {
    height: 300px;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .stopwatch {
    font-size: 64px;
  }

  .button-list {
    gap: 30px;
  }

  .button {
    transition: all 0.5s ease;

    &:hover {
      background-color: rgba(111, 132, 236, 0.4);
      transform: scale(1.1);
    }
  }

  .footer {
    transition: all 0.3s ease-in-out;

    span {
      transition: color 0.3s ease-in-out;
    }

    &:hover {
      color: #fff;

      & span:first-child {
        color: black;
      }

      & span:last-child {
        color: #f79a28;
      }
    }
  }
}
